@font-face {
    font-family: Quicksand-Regular;
    src: url(/fonts/quicksand/Quicksand-Regular);
}

body {
    text-align: center;
    font-family: Quicksand-Regular;

    background-color: #EFEBE9;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.container-fluid {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.panel-container {
    height: 100%;
    top: 15%;
}

#panel {
    height: 60%;
    min-width: 140px;
    width: 100%;
    border: 2px solid black;
    display: table;
    padding: 10px;
    background-color: white;
}

#panel div {
    display: table-cell;
    vertical-align: middle;
}

#panel h1 {
}

#panel form {
    padding: 20px;
}

#panel #user {
    margin-bottom: 20px;
    height: 40px;
    width: 180px;
    padding: 8px;
}

#panel #pin {
    margin-bottom: 20px;
    height: 40px;
    width: 180px;
    padding: 8px;
}

#panel button {
    border: 2px solid black;
    padding-bottom: 5px;
    color: white;
    background-color: black;
}

#panel button:hover{
    color: black;
    background-color: white;
}