body {
	text-align: center;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#overlay {
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 10;
	display: table;
	table-layout: fixed;
}

.options {
	display: table-cell;
	vertical-align: middle;
}

.options > div {
	height: 50%;
}

.option {
	display: table;
	table-layout: fixed;
	background-color: #2C5276;
	padding: 10px;
	height: 100%;
	width: 100%;
	cursor: pointer;
}

.option p {
	display: table-cell;
	vertical-align: middle;
	font-size: 3.5em;
	font-weight: bold;
	color: white;
}

#overlay #name {
	position: fixed;
	top: 5%;
	width: 30%;
	text-align: center;
	font-size: 4em;
	color: white;
	z-index: 12;
	background-color: rgba(0, 0, 0, 0.25);
}

.exit {
	position: fixed;
	top: 5%;
	width: 30%;
	text-align: right;
	font-size: 4em;
	color: white;
	z-index: 12;
}

.exit span {
	padding: 10px;
	cursor: pointer;
}

.back {
	position: fixed;
	top: 5%;
	width: 30%;
	text-align: left;
	font-size: 4em;
	color: white;
	z-index: 12;
}

.back span {
	padding: 10px;
	cursor: pointer;
}

#overlay-check-in-out {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 20;
	display: table;
	table-layout: fixed;
}

#overlay-check-in-out {
	visibility: hidden;
}

#overlay-check-in-out #check-in-out {
	border: 10px solid #2C5276;
	background-color: rgba(0, 0, 0, 0.25);
}

#overlay-check-in-out #check-in {
	background-color: #3AA273;
}

#overlay-check-in-out #check-out {
	background-color: #F0423A;
}

#content {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

#top {
	padding: 10px 10px;
}

#main {
	width: 100%;
}

#room-name {
	font-weight: bold;
	font-size: 3.5em;
	line-height: 1.4em;
}

#logo {
	float: left;
}

.row {
	padding: 10px 5px;
}

.row-item img {
	height: 55%;
	width: 55%;
	border: 4px solid black;
	cursor: pointer;
}

.row-item figcaption {
	font-size: 1.4em;
}