@font-face {
    font-family: Quicksand-Regular;
    src: url(/fonts/quicksand/Quicksand-Regular);
}

body {
    text-align: center;
    font-family: Quicksand-Regular;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    background-color: #EFEBE9;
    padding-bottom: 50px;
    font-size: 2em;
}

body > h1:nth-of-type(1) {
    padding-bottom: 30px;
}

.list-item:hover {
    cursor: pointer;
}

#selectors {
    background-color: red;
}

#main {
    /*background-color: red;*/
    width: 100%;
}

#search-input {
    height: 30px;
    border: 1px solid grey;
}

.list-item.selected {
    border-left: 10px solid #00874A;
}

.p-container {
    padding-top: 20px;
}

.list-item {
    margin-top: 1px;
    padding: 5px;
    border: 1px solid grey;
    background-color: white;
    height: 66px;
}

.list-item img {
    float: left;
    margin-right: 5px;
    border-radius: 100%;
}

.list-item p {
    margin-top: -4px;
    float: left;
    text-align: center;
}

.options-container {
    margin: 0;
    padding: 0;
}

#options {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

#search-input {
    float: left;
    padding: 24px;
    width: 100%;
}

.option-button-container {
    float: left;
}

.option-button {
    padding: 0;
    height: 100%;
    cursor: pointer;
}

.option-button p {
    padding-top: 9px;
    padding-bottom: 1px;
    border: 1px solid grey;
    border: none;
}

.update-options {
    padding: 0;
    margin: 0;
}

.update-option {
    padding: 0;
    margin: 0;
    height: 70px;
    color: white;
}

.update-option div p {
    padding: 0;
    margin: 0;
    line-height: 70px;
}

#edit-button {
    padding-right: 5px;
}

#remove-button {
    padding-left: 5px;
}

.update-option div {
    padding: 0;
    margin: 0;
    cursor: pointer;
}

#edit-button div {
    margin-top: 25px;
    background-color: #00874A;
    border: 1px solid #00874A;
}

#remove-button-edit div {
    margin-top: 25px;
    background-color: #F3625C;
    border: 1px solid #F3625C;
}

#edit-button div:hover {
    background-color: white;
    color: #00874A;
}

#remove-button-edit div:hover {
    background-color: white;
    color: #F3625C;
}



#remove-button {
    color: white;
    background-color: #F3625C;
    border: 1px solid #F3625C;
}

#remove-button:hover {
    color: #F3625C;
    background-color: white;
}

#add-button {
    color: white;
    background-color: #00874A;
    border: 1px solid #00874A;
}

#add-button:hover{
    color: #00874A;
    background-color: white;
}

.input-section {
    padding: 20px;
    margin-top: 4px;
    border: 1px solid grey;
    background-color: white;
}

.input-section p {
    text-align: left;
}

.one-info {
    padding: 10px;
}

label {
    font-weight: normal;
    margin-left: 100px;
    padding-top: 3px;
}

form {
    text-align: left;
}

form input, select, button, .input-group {
    float: right;
    margin-right: 30px;
    padding: 5px;
    border: 1px solid grey;
    width: 180px;
    height: 45px;
}

#add-carer-button, #add-details-button, #remove-details-button {
    margin-top: 5px;
}

#add-carer-button, #add-details-button {
    float: right;
    margin-right: 40px;
    padding: 5px;
    padding-bottom: 35px;
    border: 1px solid grey;
    width: 180px;
    height: 30px;
    background-color: #2C5276;
    border: 1px solid #2C5276;
    color: white;
    cursor: pointer;
}

#remove-details-button {
    float: right;
    margin-right: 40px;
    padding: 5px;
    padding-bottom: 35px;
    border: 1px solid grey;
    width: 180px;
    height: 30px;
    background-color: #F3625C;
    border: 1px solid #F3625C;
    color: white;
    cursor: pointer;
}

#add-carer-button:hover, #add-details-button:hover {
    background-color: white;
    color: #2C5276;
}

#remove-details-button:hover {
    background-color: white;
    color: #F3625C;
}

#add-carer-button p, #add-details-button p, #remove-details-button p {
    text-align: center;
}

#child-picture-input {
    visibility: hidden;
    overflow: hidden;
}

#child-picture-input {
    visibility: hidden;
    overflow: hidden;
}

#child-picture-button {
    background-color: #2C5276;
    border: 1px solid #2C5276;
    color: white;
    padding-top: 8px;
    padding-bottom: 35px;
    overflow: hidden;
}

#child-picture-button:hover {
    background-color: white;
    color: #2C5276;
    overflow: hidden;
}

.carer-solo {
    padding-bottom: 30px;
}

#complete-button p {
    margin: 0;
    padding: 0;
}

#complete-button {
    margin-top: 50px;
    padding: 20px;
    background-color: #2C5276;
    color: white;
    border: 1px solid #2C5276;
    cursor: pointer;
}

#complete-button:hover {
    color: #2C5276;
    background-color: white;
}

.empty {
    border: 1px solid #F3625C;
}

button#child-picture-button.empty {
    background-color: #F3625C;
    border: 1px solid #F3625C;
}

button#child-picture-button.empty:hover {
    background-color: white;
    color: #F3625C;
}

.input-group {
    width: 180px;
    border: none;
    margin-left: 20px;
    padding: 0;
    margin: 0;
    margin-right: 30px;
}

.form-control {
    height: 45px;
}

.form-control.empty {
    border: 1px solid #F3625C;
}

.input-group input {
    border: 1px solid grey;
    border-radius: 0px;
}

.input-group span {
    border-radius: 0px;
}

#occurence label {
    padding-top: 8px;
}

#occurence input {
    margin-right: 30px;
}

#child-name h1 {
    margin: 0;
    margin-left: 100px;
    padding: 0;
    display: inline-block;
    clear: both;
}

#child-name {
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    color: white;
    background-color: rgba(0, 0, 0, 0.65);
}

#child-name #complete-button {
    padding: 0;
    margin: 0;
    display: inline-block;
    clear: both;
    padding: 10px;
    float: right;
}

#info-child-main {
    margin-top: 100px;
}

.round-img {
    margin-top: 3px;
    image-orientation: from-image;
}

.staff-name-container {
    width: 100%;
}

.staff-info-box {
    display: table-row;
    padding-top: 60px;
    padding-bottom: 20px;
}

.staff-info-box input {
    width: 300px;
}

.staff-info-box label {
    margin-top: 4px;
}

div.staff {
    display: table;
    position: relative;
    background-color: white;
    margin-top: 20px;
    padding: 40px;
    width: 100%;
}

.edit-staff {
    position: absolute;
    right: 40px;
    color: grey;
    font-size: 0.8em;
    line-height: 30px;
}

.staff-info-form .saved {
    border: 3px solid #00874A;;
}

.report-edit-button-container {
    background-color: #2C5276;
    color: white;
    border: 1px solid #2C5276;
    padding: 0;
    margin: 0;
    margin-top: 1px;
    height: 66px;
    cursor: pointer;
}

.report-edit-button-container:hover {
    color: #2C5276;
    background-color: white;
}

.report-edit-button p {
    font-size: 2em;
}

#back-button {
    text-align: left;
    top: 0;
    left: 20px;
    position: absolute;
    font-size: 2.5em;
    text-decoration: none;
    color: black;
}

#back-button.back-dark {
    color: white;
}